{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <div>
        {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>

        <div>
        {% if book.reviews.all %}
            <h3>Reviews</h3>
            <ul>
                {% for review in book.reviews.all %}
                    <li> {{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock content %}